* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Navbar {
    background-color: cadetblue;
}

.NBItem {
    list-style-type: none;
    text-decoration: none;
    font: 1.5em sans-serif;
}