body {
    background-color: #00ffff;
    padding: 0%;
    margin: 0%;
}

.Header {
    background-color: #036666;
    width: 100%;
    height: 20%;
    position: fixed;
    font-family:'Segoe UI';
    font-weight: lighter;
    text-align: center;
}
.Buttons {
    font-family: Impact;
}